{
    "branches": [
        "master",
        "next"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "semantic-release-docker",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assignees": [
                    "<%= authorName %>"
                ]
            }
        ]
    ],
    "publish": [
        {
            "path": "semantic-release-docker",
            "name": "<%= authorName.toLowerCase() %>/<%= moduleName.toLowerCase() %>"
        }
    ]
}
