{
    "branches": [
        "master",
        "next"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "semantic-release-docker",
            {
                "name": "<%= userName.toLowerCase() %>/<%= moduleName.toLowerCase() %>"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "docker_<%= userName.toLowerCase() %>_<%= moduleName.toLowerCase() %>.tar.gz",
                        "label": "Docker image"
                    }
                ],
                "assignees": [
                    "<%= userName %>"
                ]
            }
        ]
    ]
}
